:root{
    --samecolor: #cbcdcb
}

.container{
    padding: 0;
    width: 99%;
    height: 95%;
    background-color: var(--samecolor);
    color: rgb(1, 11, 2);
    text-align: center;
}

.app-title{
  font-family: 'Allerta Stencil';
  font-size: 35px;
  color: #fff
}

.slogan{
  font-family: 'Gruppo';
  font-size: 20px;
}

.btn {
  cursor: pointer;
  border: 1.5px solid #112604;
  font-family: 'Gruppo';
  background-color: transparent;
  height: 50px;
  width: 200px;
  color: #e3e3e3;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.btn:hover {
  background-color: #AAA050;
}

.column_left, .column_right, .column_center {
    float:left;
    background-color: #cbcdcb;
  }
  
  .column_left {
    padding: 0.4%;
    width: 24%;
    height: 100%;
    align-self:flex-start;
    background-color: #4c5355;
    color:rgb(213, 213, 213)
  }

  .column_center {
    width: 50%;
    margin-bottom: 5%;
    align-self: center;
    background-color: var(--samecolor);
  }

  .column_right {
    padding: 0.4%;
    width: 24%;
    height: 100%;
    align-self: flex-end;
    background-color: #536f16;
    font-family: monospace;
  }
  
