.page{
    height:100%;
    width:100%;
    background: none;
  }
  .header {
    display: inline-block;
    background: none;
    text-align: right;
    width: 100%;
    padding: 10px;
    margin-right: 10px;
  }
  .headerlinks {
    font-size: 13px;
    font-family: arial, sans-serif;
    line-height: 24px;
    color:rgba(0, 0, 0, 0.87);
    text-decoration: none;
    margin-right: 8px;
  }
  .headerlinks:hover {
    font-size: 13px;
    font-family: arial, sans-serif;
    line-height: 24px;
    color:rgba(0, 0, 0, 0.87);
    text-decoration: underline;
    margin-right: 8px;
  }
  .headericon {
    background: none;
    margin-right: 14px;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-size: 528px 68px;
    background-position: -135px -44px;
    opacity: .55;
    padding: 0px 12px 0px 10px;
  }
  .headericon:hover {
    background: none;
    margin-right: 14px;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-size: 528px 68px;
    background-position: -135px -44px;
    opacity: 1;
    padding: 0px 12px 0px 10px;
  }
  .headerlogin {
    margin-right: 10px;
    background: #4285f8;
    border: 1px solid #4285f4;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 28px;
    color:#fff;
    text-decoration: none;
    padding: 7px 12px;
    cursor: default;
  }
  .main {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainbarbox{
    position: center;
    display: flex;
    align-items: center;
    height: 35px;
    width: 50%;
    max-width: 500px;
    min-width: 400px;
    margin-top: 20px;
    border: 1px solid #cecece;
    border-radius: 60px;
    padding: 5px 8px 0 16px;
  }
  /* rgba(0,0,0,.87) */
  .mainbarbox:hover {
    position: center;
    display: flex;
    align-items: center;
    height: 35px;
    width: 50%;
    max-width: 500px;
    min-width: 400px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 60px;
    padding: 5px 8px 0 16px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.20);
  }
  .mbbicon{
    background: none;
    margin-bottom: 3px;
    width: 20px;
    height: 20px;
  }
  .mainbar {
    padding: 9px;
    width: 350px;
    border-width: 1px;
    border-color:none;
    border-style:none;
  }
  .mainbuttons{
    width: 155px;
    font-size: 14px;
    line-height: 27px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius:4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    height:36px;
    cursor:pointer;
  }
  .mainbuttons:hover {
    width: 155px;
    font-size: 14px;
    line-height: 27px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius:4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    height:36px;
    cursor:pointer;
    box-shadow: 0px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
  }
  .mainsubmit{
    background: none;
    margin-top: 30px;
    width: 320px;
    height: 36px;
    display: flex;
    justify-content: space-between;
  }
  .footer {
    background: #f2f2f2;
    border-top: 1px solid #dadce0;;
    width:100%;
    padding: 0px 8px 0px 8px;
    margin-bottom: -10px;
    display: flex;
    justify-content: space-between;
  }
  .footerlinks {
    display: inline-block;
    font-size: 14px;
    font-family: arial, sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    color: #70757a;
    padding-left: 5px;
    padding-right: 5px;
  }
  .footerlinks:hover {
    display: inline-block;
    font-size: 14px;
    font-family: arial, sans-serif;
    text-align: center;
    text-decoration: underline;
    line-height: 40px;
    color: #70757a;
    padding-left: 5px;
    padding-right: 5px;
  }
  .container {
    width:100%;
    height: 97vh;
    background: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }