:root{
    --samecolor: #000
}

.container{
    padding: 0;
    width: 99%;
    height: 95%;
    color: rgb(1, 11, 2);
    text-align: center;
    background-image: url("/static/images/pexels-victor-freitas-2261477-2.jpg");
    background-color: var(--samecolor);
}

.app-title{
  font-family: 'Allerta Stencil';
  font-size: 25px;
  color: #fff
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: 'Gruppo';
  color:rgb(71, 71, 71);
  background: rgba( 255, 255, 255, 0.2);
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}
.buttons {
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 23px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
.buttons:hover {
  background-color: rgb(0, 40, 0);
}

.column_right, .column_center {
    float:left;
    background-color: #cbcdcb;
  }

  .column_center {
    width: 74%;
    padding: 2.5%;
    align-self: center;
    background: rgba(0, 0, 0, 0);
  }

  .column_right {
    padding: 0.4%;
    width: 20%;
    height: 88%;
    align-self: flex-end;
    font-family: 'Gruppo';
    color:rgb(255, 255, 255);
    background: rgba( 255, 255, 255, 0.2);
    box-shadow: 0 3px 10px 0 rgba(99, 99, 99, 0.37);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
.bt1:hover {
  box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.7);
}

.metric_title {
  font-family: 'Gruppo';
  color:rgb(255, 255, 255);
}

#metrics {
  font-family: 'Gruppo';
  border-collapse: collapse;
  width: 100%;
}

#metrics td, #metrics th {
  border: 1px solid #ddd;
  padding: 8px;
  font-weight: bold;
  text-align: right;
}

#metrics tr:nth-child(even){background-color: #f2f2f2;}

#metrics th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #004000;
  color: white;
}