<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoRep App</title>
    <link rel="stylesheet" href="..\static\css\style.css">
    <link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet'>

</head>
<body class = "container">
    <div class="row">
        <div class="column_left">
            <h1 class="app-title">NO REP</h1>
            <p class="slogan">AI-powered app that helps you improve your weightlifting performance.</p>
            <br>
            <button class="btn">CLICK ME</button>
        </div>
        <div class="column_center">
            <img src="{{ url_for('video_feed') }}">
            <p>Text box, no idea what I'm writing here.</p>
        </div>
        <div class="column_right">
            <h3>How does it work?</h3>
            <ul>
                <li>Place yourself in front on the camera.</li>
            </ul>
        </div>
      </div>
</body>
</html>

