<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoRep App</title>
    <link rel="stylesheet" href="..\static\css\style.css">

</head>
<body class = "container">
    <div class="row">
        <div class="column_left">
            <h1>NoRep App</h1>
            <p>Deep-Learning-powered app that helps you improve your weightlifting performance.</p>
        </div>
        <div class="column_center">
            <img src="{{ url_for('video_feed') }}">
            <p>Text box, no idea what I'm writing here.</p>
        </div>
        <div class="column_right">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Probably gifs in here.</h1>
        </div>
      </div>
</body>
</html>

